* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.window {
    width: 25rem;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px #bbf1ff7c;
    border-radius: 2rem;
}

.wrapper > .window > h1 {
    margin-bottom: 2rem;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #00a9d3;
    color: #00a9d3;
}

.username {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.username > #username {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    outline: none;
    background-color: #f3f3f3;
}

.password {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.password > #password {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    outline: none;
    background-color: #f3f3f3;
}

#signup {
    width: 100%;
    padding: 0.75rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 2px solid #09c2f0;
    outline: none;
    background-color: #09c2f0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#signup:hover {
    background-color: #fff;
    color: #00a9d3;
}

#login {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: #bbbbbb;
}